<!DOCTYPE html>

<html>
  <head>
    <title>Github API graph network</title>
    <link href='css/reset.css' rel="stylesheet">
    <link href='css/graphs.css' rel="stylesheet">
  </head>

  <body>
    <h1>Github followers build</h1>
    <form id='add_profile_full' method="post" name='userForm'>
      <input id='username' placeholder='Enter a github username' name='userName'></br>
      <input id='depth' placeholder='How deep in the tree?' name="howDeep">
      <button type='submit'> Build network </button>
    </form>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
  </body>

</html>